# LOCAL DEVELOPMENT — points to local backend
# For production (Amplify), set these in the Amplify console environment variables

NEXT_PUBLIC_API_URL=https://rq6ypa7pyw.ap-south-1.awsapprunner.com
NEXT_PUBLIC_WS_URL=wss://rq6ypa7pyw.ap-south-1.awsapprunner.com

NEXT_PUBLIC_APP_NAME=Cortex AI
NEXT_PUBLIC_APP_URL=https://main.dxw5lch2u6550.amplifyapp.com

NEXT_PUBLIC_SLACK_CLIENT_ID=10586302425344.10542581661767
